html, body
{
  height: 100%;
  width: auto;
}

.navbar{
  background-color: #1c2331;
}
.navbar-text a:hover{
  color:#5a95f5 !important;
}
.col-md-12{
  z-index: 99 !important;
  padding-bottom: 150px;
}
#intro{
  padding-top: 100px;  
}
.box img
{
  max-width: 450px;
  height: auto;
}

.banner{
  background-image: url(../img/fone.svg);
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fdb-box {
    border-bottom: 3px solid #5a95f5;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fff;
}
@media (max-width:767px) {.banner { background-image: url('../img/fone.svg'); background-position: right center; background-size: contain; } }

.contact-items
{
  list-style: none;
  float: left;
  vertical-align: center;
  color: rgba(28,35,49,0.8);
}

.contact-items span
{
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

.hello{
  line-height: 1.618;
}

footer{
  background-color: rgba(28,35,49,0.8);
  padding: 15px 0px 10px 0px;
}

.icons_footer i
{
  opacity: 0.9;
  font-size: 28px;
}
.icons_footer i:hover
{
  transform:scale(0.95);
  text-shadow: 0px 0px 10px rgba(0,0,0,.2);
  opacity: 1;
}
@media (max-width: 768px){
  
  .navbar:not(.top-nav-collapse){
  background: rgb(0,0,0,.8); 
  }
  .contact-items span
    {
    font-size: 14px;
    }
    .col-md-12 h2{
    font-size: 2rem;
    }
    .text-block h2{
    text-align: center;
  }
}

